{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}
{# {% block stylesheets %}
    <!-- <style type="text/css">
        body { background-color: #336699; }
    </style> -->
{% endblock %} #}
{% block body %}
    <!-- <h1>Index</h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p> -->
    <div class="div">
        <img src={{asset('images/p1\.png')}}  >

    </div>
    <!-- <div class="row my-5col">
        <div class="col-md-8 mx-auto">
            <div class="card"></div>
            <table class="table">
                <thead >
                    <tr>
                        <th ></th>
                        <th ></th>
                        <th ></th>
                        <th ></th>
                        <th ></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div> -->
{% endblock %}
{# {% block javascripts %}
   
{% endblock %} #}